h3{
    padding: 15px;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    font-size: 14px
}
.box{
    padding: 30px;
    display: flex;
    align-items: center;
}
.info{
    height: 50px;
    overflow: hidden;
}
.info > div span{
    padding: 5px 15px;
    height: 50px;
    margin-bottom: 30px;
    display: block;
}
.info div:first-child{
    animation: slide 6s linear infinite;
}
@keyframes slide{
    0%{
        margin-top: -240px;
    }
    5%{
        margin-top: -160px;
    }
    35%{
        margin-top: -160px;
    }
    40%{
        margin-top: -80px;
    }
    60%{
        margin-top: -80px;
    }
    70%{
        margin-top: 0px;
    }
    99%{
        margin-top: 0px;
    }
    100%{
        margin-top: -240px;
    }
}